<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>inactive.html</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
	<header>
		<h1>[ 휴면 계정 해제 ]</h1>
	</header>
	<section>
		<form th:action="@{/member/inactive}" method="post">
			<table>
				<tr>
					<th>ID</th>
					<td>
						<input type="text" name="memberId" id="memberId" placeholder="ID 입력">
					</td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="memberPassword" id="memberPassword" placeholder="비밀번호 입력"></td>
				</tr>
				<tr>
					<td colspan="2" class="center white">
						<input type="submit" value="휴면 해제">
					</td>
				</tr>
			</table>
		</form>
	</section>
</body>
</html>